.kotak{
    background-color: white;
    border: 8px solid;
    border-radius: 5px;
    padding: 10px;
    height: 170px;
    width: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-image: linear-gradient(45deg, rgb(66, 255, 198), rgb(255, 134, 255)) 1;

    animation: fadeIn 0.5s ease-in-out;
}
    @keyframes fadeIn {
        from {
        opacity: 0;
        }
        to {
        opacity: 1;
        }
    }
  
  